@model IEnumerable<WardrobeMVC.Models.Outfit>

@{
    ViewBag.Title = "Outfits";
}

<div class="outfitspage">

    @* header *@
    <div class="row container-fluid header">
        <div class="col-md-2 col-sm-6 col-xs-12">
            <img src="~/Content/closet.jpg" alt="Closet Image" />
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <h2>OUTFITS</h2>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <button class="button"><a href="~/Outfits/Create">Add New Outfit</a></button>
        </div>
    </div>


    <!--CAROUSEL OF HANGERS-->
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <p>
                        <img src="~/Content/hangersonrod.jpg" />
                        <img src="~/Content/hangersonrod.jpg" />
                        <img src="~/Content/hangersonrod.jpg" />
                        <img src="~/Content/hangersonrod.jpg" />
                        <img src="~/Content/hangersonrod.jpg" />
                        <img src="~/Content/hangersonrod.jpg" />
                        <img src="~/Content/hangersonrod.jpg" />
                        <img src="~/Content/hangersonrod.jpg" />
                        <img src="~/Content/hangersonrod.jpg" />
                        <img src="~/Content/hangersonrod.jpg" />
                        <img src="~/Content/hangersonrod.jpg" />
                    </p>
            </div>

            <div class="item">
                <p>
                        <img src="~/Content/hangersonrod.jpg" />
                        <img src="~/Content/hangersonrod.jpg" />
                        <img src="~/Content/hangersonrod.jpg" />
                        <img src="~/Content/hangersonrod.jpg" />
                        <img src="~/Content/hangersonrod.jpg" />
                        <img src="~/Content/hangersonrod.jpg" />
                        <img src="~/Content/hangersonrod.jpg" />
                        <img src="~/Content/hangersonrod.jpg" />
                        <img src="~/Content/hangersonrod.jpg" />
                        <img src="~/Content/hangersonrod.jpg" />
                        <img src="~/Content/hangersonrod.jpg" />
                    </p>
            </div>

            <div class="item">
                <p>
                        <img src="~/Content/hangersonrod.jpg" />
                        <img src="~/Content/hangersonrod.jpg" />
                        <img src="~/Content/hangersonrod.jpg" />
                        <img src="~/Content/hangersonrod.jpg" />
                        <img src="~/Content/hangersonrod.jpg" />
                        <img src="~/Content/hangersonrod.jpg" />
                        <img src="~/Content/hangersonrod.jpg" />
                        <img src="~/Content/hangersonrod.jpg" />
                        <img src="~/Content/hangersonrod.jpg" />
                        <img src="~/Content/hangersonrod.jpg" />
                        <img src="~/Content/hangersonrod.jpg" />
                    </p>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


    @foreach (var item in Model)
    {
        <div class="outfits">
            <div class="row thumbnail">
                <div class="caption text-center">
                    <div class="col-md-3 col-sm-6 col-xs-12 outfitpics">
                        @if (!string.IsNullOrEmpty(item.Top.Photo))
                        {
                            <img src="@Url.Content(item.Top.Photo)" class="img-thumbnail img-responsive" alt="Picture of top" />
                        }
                        else
                        {
                            <img src="~/Content/nophoto.jpg" class="img-thumbnail img-responsive" alt="No Photo Available" />
                        }
                        <h3>@Html.DisplayFor(modelItem => item.Top.Name)</h3>
                        <p>@Html.DisplayFor(modelItem => item.Top.Color.Color1)</p>
                        <p>@Html.DisplayFor(modelItem => item.Top.Season.Season1)</p>
                        <p>@Html.DisplayFor(modelItem => item.Top.Occasion.Occassion)</p>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 outfitpics">

                        @if (!string.IsNullOrEmpty(item.Bottom.Photo))
                        {
                            <img src="@Url.Content(item.Bottom.Photo)" class="img-thumbnail img-responsive" alt="Picture of bottom" />
                        }
                        else
                        {
                            <img src="~/Content/nophoto.jpg" class="img-thumbnail img-responsive" alt="No Photo Available" />
                        }
                        <h3>@Html.DisplayFor(modelItem => item.Bottom.Name)</h3>
                        <p>@Html.DisplayFor(modelItem => item.Bottom.Color.Color1)</p>
                        <p>@Html.DisplayFor(modelItem => item.Bottom.Season.Season1)</p>
                        <p>@Html.DisplayFor(modelItem => item.Bottom.Occasion.Occassion)</p>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 outfitpics">
                        @if (!string.IsNullOrEmpty(item.Sho.Photo))
                        {
                            <img src="@Url.Content(item.Sho.Photo)" class="img-thumbnail img-responsive" alt="Picture of shoes" />
                        }
                        else
                        {
                            <img src="~/Content/nophoto.jpg" class="img-thumbnail img-responsive" alt="No Photo Available" />
                        }
                        <h3>@Html.DisplayFor(modelItem => item.Sho.Name)</h3>
                        <p>@Html.DisplayFor(modelItem => item.Sho.Color.Color1)</p>
                        <p>@Html.DisplayFor(modelItem => item.Sho.Season.Season1)</p>
                        <p>@Html.DisplayFor(modelItem => item.Sho.Occasion.Occassion)</p>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12 outfitpics">

                        @if (!string.IsNullOrEmpty(item.Accessory.Photo))
                        {
                            <img src="@Url.Content(item.Accessory.Photo)" class="img-thumbnail img-responsive" alt="Picture of accessory" />
                        }
                        else
                        {
                            <img src="~/Content/nophoto.jpg" class="img-thumbnail img-responsive" alt="No Photo Available" />
                        }
                        <h3>@Html.DisplayFor(modelItem => item.Accessory.Name)</h3>
                        <p>@Html.DisplayFor(modelItem => item.Accessory.Color.Color1)</p>
                        <p>@Html.DisplayFor(modelItem => item.Accessory.Season.Season1)</p>
                        <p>@Html.DisplayFor(modelItem => item.Accessory.Occasion.Occassion)</p>
                    </div>
                </div>

                <div class="bottomlinks center">
                    <hr/>
                    @Html.ActionLink("Update","Edit", new { id = item.OutfitID }) |
                    @Html.ActionLink("Delete","Delete", new { id = item.OutfitID })
                </div>
            </div>
        </div>
    }

</div>


<p class="bottomlinks">
    @Html.ActionLink("Back to Top", "Index")
</p>