@model IEnumerable<WardrobeMVC.Models.Bottom>

@{
    ViewBag.Title = "Bottoms";
}

<div class="page">

    @* header *@
    <div class="row container-fluid header">
        <div class="col-md-2 col-sm-6 col-xs-12">
            <img src="~/Content/closet.jpg" alt="Closet Image" />
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <h2>INVENTORY:  <span class="subheader">Bottoms</span></h2>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <button class="button"><a href="~/Bottoms/Create">Add New Bottom</a></button>
            @*<button class="button"><a href="~/Bottoms/Index">Show All Bottoms</a></button>*@
        </div>
    </div>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-6 col-md-2">
                <div class="thumbnail">
                    <div class="caption text-center">
                        <h5>@Html.DisplayFor(model => item.Name)</h5>
                        @if (!string.IsNullOrEmpty(item.Photo))
                        {
                            <img src="@Url.Content(item.Photo)" class="img-thumbnail img-responsive" alt="Picture of bottom" />
                        }
                        else
                        {
                            <img src="~/Content/nophoto.jpg" class="img-thumbnail img-responsive" alt="No Photo Available"  />
                        }
                       <p>@Html.ActionLink("View Details", "Details", new { id = item.BottomID }, new { role = "button", @class = "btn" })</p>
                    </div>
                </div>
            </div>
        }

    </div>
</div>

<p class="bottomlinks">
    @Html.ActionLink("Back to Top", "Index") |
    @Html.ActionLink("View Detailed List of All Bottoms", "List", "Bottoms")
</p>

