@model IEnumerable<WardrobeMVC.Models.Bottom>

@{
    ViewBag.Title = "Details Bottoms";
}

<div class="page">

    @* page header *@
    <div class="row container-fluid header">
        <div class="col-md-2 col-sm-6 col-xs-12">
            <img src="~/Content/closet.jpg" alt="Closet Image" />
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <h2>INVENTORY:  <span class="subheader">Bottoms</span></h2>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <button class="button"><a href="~/Bottoms/Create">Add New Bottom</a></button>
        </div>
    </div>

    @* details - 3 items per row *@
    <div class="row">
        @foreach (var item in Model)
        {
           
                <div class="col-md-2 col-sm-6">
                    <div class="thumbnail">
                        @if (!string.IsNullOrEmpty(item.Photo))
                        {
                            <img src="@Url.Content(item.Photo)" class="img-thumbnail img-responsive" alt="Picture of bottom" />
                        }
                        else
                        {
                            <img src="~/Content/nophoto.jpg" class="img-thumbnail img-responsive" alt="No Photo Available" />
                        }
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 listmany">
                    <h5>@Html.DisplayFor(modelItem => item.Name)</h5>
                    <p>@Html.DisplayFor(modelItem => item.Color.Color1)</p>
                    <p>@Html.DisplayFor(modelItem => item.Season.Season1)</p>
                    <p>@Html.DisplayFor(modelItem => item.Occasion.Occassion)</p>
                    <p class="down">
                        @Html.ActionLink("Update", "Edit", new { id = item.BottomID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.BottomID })
                    </p>
                </div>
        }
    </div>

    <div class="bottomlinks">
        @Html.ActionLink("Back to Top", "List") |
        @Html.ActionLink("Back to Bottoms", "Index", "Bottoms")
    </div>

</div>
