@model WardrobeMVC.Models.Sho

@{
    ViewBag.Title = "Details";
}
<div class="mainSec">

    <div class="detailone container-fluid">
        <h1>@Html.DisplayFor(model => model.Name)</h1>
        <hr />
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                @if (!string.IsNullOrEmpty(Model.Photo))
                {
                    <img src="@Url.Content(Model.Photo)" class="img-thumbnail img-responsive" alt="Picture of shoes" />
                }
                else
                {
                    <img src="~/Content/nophoto.jpg" class="img-thumbnail img-responsive" alt="No Photo Available" />
                }
            </div>
            <div class="col-md-8 col-sm-12> details">
                <p>@Html.DisplayNameFor(model => model.Color.Color1): &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;      @Html.DisplayFor(model => model.Color.Color1)</p>
                <p>@Html.DisplayNameFor(model => model.Season.Season1):  &nbsp; &nbsp; &nbsp;    @Html.DisplayFor(model => model.Season.Season1)</p>
                <p>@Html.DisplayNameFor(model => model.Occasion.Occassion): &nbsp; &nbsp;  @Html.DisplayFor(model => model.Occasion.Occassion)</p>
            </div>
        </div>
        <hr />
        <p class="bottomlinks white">
            @Html.ActionLink("Update", "Edit", new { id = Model.ShoeID }) |
            @Html.ActionLink("Delete", "Delete", new { id = Model.ShoeID }) |
            @Html.ActionLink("Back to Shoes", "Index")
        </p>
    </div>
</div>
